*{
  margin: 0;
}


/*BANNER*/
.__banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b3743;
  padding: 20px;

}

.__banner .__title-banner {
  font-size: 1.5em;
}

.__banner .theme{
  display: flex;
  align-items: center;
  gap: 10px;
}

.__btn-theme{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*----------------------------------------------------------------*/

/*COUNTRY CARD*/

.__container-card{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  /* justify-content: center; */
}


.country-card {
  width: 300px; /* Ancho de la tarjeta, ajustable según necesidad */
  /* overflow: hidden; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
}

.country-card-img {
  width: 100%;
  height: 200px; /* Altura fija para las imágenes */
}

.country-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-card-body {
  padding: 16px;
  background-color: #2b3743;;
}

.country-card-body h2 {
  font-size: 1.3rem;
  margin: 0 0 8px;
}

/* .country-card-body p {
  margin: 4px 0;
  color: white;
} */


/*SEARCH*/



.input-search{
  margin: 20px;
  background-color: #2b3743;
  width:300px;
  padding: 10px 15px;

  display: flex;
  align-items: center;
  border-radius: 8px;
}

.input-search input[type="text"]{
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  width: 100%;
}


/*----------------------------------------------------------------*/

.input_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*SELECT INPUT*/

.select_input{
  background-color: #2b3743;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  margin: 20px;
}


/*CARD-INFO-COUNTRY*/


.btn-back{
  background-color: #2a3742;
  border: none;
  cursor: pointer;
  /* color: white; */
  font-size: 1.2rem;
  margin: 20px;
  padding: 8px 24px;
  border-radius: 4px;
}

.btn-back  a{
  text-decoration: none;
  /* color: white; */
  padding: 4px;
}



.countrie-img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countrie-img img{
  width: 300px;
}


.countrie-card-body{
  /* margin-left: 20px; */
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
}

.card-more-info ul{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px ;
  flex-wrap: wrap
}

.card-more-info{
  display: flex;
  /* flex-direction: column; */
  /* gap: 10px; */
}

.borders {
  display: flex;
  flex-direction: column;
}

.borders a{
  text-decoration: none;
  color: white;
  padding: 4px;
  border-radius: 4px;
  background-color: #2b3743;
  font-size: 1rem;
  /* margin: 20px; */
}

@media only screen and (max-width: 600px) {
  .__container-card{
    justify-content: center;
  }

  .__banner .__title-banner{
    font-size: 1.2rem;
  }

  .input_container{
    flex-direction: column;
    align-items: normal;
  }

  .input_container .input-search{
    width: 85%;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .__container-card{
    justify-content: center;
  }
}

@media only screen and (min-width:1024px) {
  .container-card-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
  
}